section.section.section--events .events-hld {
  position: relative;
  z-index: 1;

  @include media-breakpoint-up(md) {
    margin-top: 20px;
  }

  & > * {
    display: none;

    &:first-child,
    &:nth-child(2) {
      display: block;
    }

    &:nth-child(3) {
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }
}

