aside.aside-bar.aside-bar--callout {
  border-radius: $globalBorderRadius;
  background: $primary;
  color: #ffffff;

  h4 {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;

    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }

  p {
    display: block;
    margin: 25px 0 0;
    padding: 0;
    font-size: 14px;

    @include media-breakpoint-up(md) {
      font-size: 16px;
    }

    a {
      display: inline-block;
      position: relative;
      z-index: 1;
      color: inherit;
      font-size: 20px;
      font-weight: $font-weight-bold;

      @include media-breakpoint-up(md) {
        font-size: 26px;
      }
    }

    a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 0;
      height: 1px;
      background: #ffffff;
      transition: .4s max-width ease;
    }

    a:hover::before {
      max-width: 100%;
    }
  }
}
