aside.aside--video .video-hld {
  @extend .video-item;

  height: calc((100vw - 50px) * 9 / 16);

  @include media-breakpoint-up(sm) {
    height: 275px;
  }

  @include media-breakpoint-up(md) {
    height: 255px;
  }

  @include media-breakpoint-up(lg) {
    height: 345px;
  }

  @include media-breakpoint-up(xl) {
    height: 410px;
  }

  .poster::before {
    @include media-breakpoint-up(md) {
      width: 110px;
      height: 110px;
      font-size: 20px;
    }
  }
}
